<h1> Album </h1>
<h2> Upload Images </h2>

{{!-- Allows the user to upload images, and it is stored in local image folders--}}
<form method = "POST" action="/api/images/" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit" >
</form>

{{#each images as |image|}}
 <img src="/Images/{{image.file_name}}">
{{/each}}