<h2>My Travel Album</h2>
<div class="picture-album">
    {{#each images as |image|}}
        <div class="picture-frame">
            <a href="/images/{{image.path_name}}" target="_blank">
                <img src="/images/{{image.path_name}}">
            </a>
        </div>
    {{/each}}
</div>