{{!-- user clicks on a trip's journal --}}
<h2>My journal for {{name}} </h2>
{{#each journals as |journal|}}
<div class = "row">
    <div class = "col">
        {{journal.title}} : {{journal.content}}
    </div>
</div>
{{/each}}