<h2> Upload Images </h2>

{{!-- Allows the user to upload images, and it is stored in local image folders--}}
<form method = "POST" action="/api/images/" enctype="multipart/form-data" class="upload-form">
    <input type="file" name="image">
    <input type="submit" class="btn add-btn">
</form>