*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  width: 100vw;
}

h1 {
  font-size: 10em;
}

.custom-nav-buttons {
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.picture-album {
  display: flex;
  justify-content:flex-start;
  margin: 1%;
  flex-wrap: wrap;
}

.picture-frame img {
  width: 400px;
  height: auto;
  border-radius: 5px;
}
.picture-frame {
  margin: 1%;
}

h2 {
  margin: 10px 20px 20px 0px;
  padding: 10px;
  border-bottom: 2px solid black;
}

#logout {
  font-size: 1.3rem;
}

.custom-log {
  position: absolute;
  right: 0;
}